@model ssembassy_ankara.Models.WelcomeMessage

@{
    ViewBag.Title = "CreateWelcomeMessage";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Description = "Create welcome message here";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-title">
                        <h4>Welcome Message</h4>
                    </div>
                </div>
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Cancel", "WelcomeMessages", "CPanel", new {@class="btn btn-flat btn-danger"})
                    <input type="submit" value="Create" class="btn btn-primary btn-flat pull-right" />
                </div>
            </div>
        </div>
    </div>
}
@section custom_javascript {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinymce.init({
                selector: 'textarea',
                height: 250,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor textcolor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code help wordcount'
                ],
                toolbar:
                    'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
                ]
            });
        });
    </script>
}
