@model ssembassy_ankara.Models.ImportantNotice

@{
    ViewBag.Title = "Edit Notice";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="box box-warning">

            @using (Html.BeginForm("EditNotice", "CPanel", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="box-header with-border">
                    <div class="box-title">
                        <h4>Edit: <strong>@Model.Title</strong></h4>
                    </div>
                </div>
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedOn)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })<br/>
                        @if (Model.Status)
                        {
                            <span>Yes : @Html.RadioButtonFor(model => model.Status, Model.Status)</span><br/>
                            <span>No  : @Html.RadioButtonFor(model => model.Status, !Model.Status)</span>
                        }
                        else
                        {
                            <span>Yes : @Html.RadioButtonFor(model => model.Status, !Model.Status)</span><br/>
                            <span>No  : @Html.RadioButtonFor(model => model.Status, Model.Status)</span>
                        }
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MessageEn, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.MessageEn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MessageEn, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MessageTr, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.MessageTr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MessageTr, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Cancel", "Notices", null, new { @class = "btn btn-danger pull-left btn-flat" })
                    <input type="submit" value="Save" class="btn btn-warning pull-right btn-flat" />
                </div>
            }
        </div>
    </div>
</div>

@section custom_javascript {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
            $(document).ready(function() {
                tinymce.init({
                    selector: 'textarea',
                    height: 100,
                    menubar: false,
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor textcolor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste code help wordcount'
                    ],
                    toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                    content_css: [
                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i']
                });
            });
    </script>
}
