@model ssembassy_ankara.Models.SSHistory

@{
    ViewBag.Title = "Edit History Page";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Description = "Make changes to the history page here";
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="box box-warning">
            <div class="box-header with-border">
                <div class="box-title">
                    <h4><strong>Editting South Sudan History Page</strong></h4>
                </div>
            </div>

            @using (Html.BeginForm("EditHistoryPage", "CPanel", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextAreaFor(model => model.Body)
                    </div>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Cancel", "PreviewHistoryPage", null, new { @class = "btn btn-default btn-flat" })
                    <input type="submit" value="Save" class="btn btn-warning btn-flat pull-right" />
                </div>
            }
        </div>
    </div>
</div>

@section custom_javascript {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            tinymce.init({
                selector: 'textarea',
                height: 300,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor textcolor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code help wordcount'
                ],
                toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i']
            });
        });
    </script>
}

