@using System.Reflection
@model IEnumerable<ssembassy_ankara.Models.ImportantNotice>

@{
    ViewBag.Title = "Notices";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<p>
    @Html.ActionLink("Create New", "CreateNotice")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            Show
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>Actions</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.CreatedOn.ToString("d")
        </td>
        
            @if (item.Status)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }    
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditNotice", new { id=item.Id }) |
            @Html.ActionLink("Details", "NoticeDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteNotice", new { id = item.Id }, new { onclick = "return confirm ('Are you sure want to delete Notice?')"})
        </td>
    </tr>
}

</table>
