
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section custom_css
{
    <style>
        .bx-viewport {
            width: 100%;
            height: auto;
        }
        .bx-caption {
            font-size: 16px;
            border: 1px solid #eee;
            padding: 0;
            background-color: #eee;
            color: rgba(0,0,0,0.9);
            text-transform: capitalize;
        }
        .articlesCarousel img {
            width: 100%;
        }
    </style>
}
@Html.Action("GetLatest5Articles", "Home")
<!-- card panels -->
<div class="row">
    <div class="col s6">
        <a href="@Url.Action("Index", "Visa")">
            <div class="card-panel blue hoverable">
                <p class="white-text center">VISA</p>
            </div>
        </a>
    </div>
    <div class="col s6">
        <a href="@Url.Action("Notice", "Home")">
            <div class="card-panel red hoverable">
                <p class="white-text center">IMPORTANT NOTICE</p>
            </div>
        </a>
    </div>
</div>
<div class="row" id="rsfeed">
    <!-- News Feed-->
    @Html.Action("Index", "RSS")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/bxslider")
    <script>
        $(document).ready(function() {
            $('.articlesCarousel').bxSlider({
                mode: 'horizontal',
                captions: true,
                slideWidth: 960,
                infiniteLoop: true,
                auto: true,
                prevText: '<i class="material-icons black-text">chevron_left</i>',
                nextText: '<i class="material-icons black-text">chevron_right</i>',
                pager: false
            });

            $("#rsfeed .card-panel > p").addClass("block-with-text");
        });
    </script>
}
