@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Create Article";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title"><strong>Add article</strong></h4>
                    <div class="box-tools pull-right">
                        @Html.ActionLink("Back to List", "Index", "Articles", null, new {@class = "btn btn-flat btn-xs btn-primary"})
                    </div>
                </div>
                @using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" })) 
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.author, new {@class = "control-label"})
                            @Html.TextBoxFor(model => model.author, new { @class = "form-control", placeholder = "Author" })
                            @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.title)
                            @Html.TextBoxFor(model => model.title, new { @class = "form-control", placeholder = "Title" })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.category_id)
                            @Html.DropDownListFor(model => model.category_id, (IEnumerable<SelectListItem>)ViewBag.ArticleCategoryList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageFile)
                            <input type="file" name="ImageFile" accept=".png, .jpg, .jpeg" />
                            @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.contents)
                            @Html.TextAreaFor(model => model.contents, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.contents, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Cancel", "Index", null, new {@class="pull-left"})
                        <input type="submit" value="Create" class="btn btn-danger btn-flat pull-right" />
                    </div>
                }
            </div>
        </div>
    </div>

@section custom_javascript {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinymce.init({
                selector: 'textarea',
                height: 250,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor textcolor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code help wordcount'
                ],
                toolbar:
                    'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
                ]
            });
        });
    </script>
}
