@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Create Article";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">New article</h4>
                    <div class="box-tools pull-right"></div>
                </div>
                @using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" })) 
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.author)
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control", placeholder = "Author" } })
                                @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.title, new {@class = "control-label"})
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.category_id)
                            <div class="col-xs-12">
                                @Html.DropDownListFor(model => model.category_id, (IEnumerable<SelectListItem>)ViewBag.ArticleCategoryList, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.imageUrl)
                            </div>
                            <div class="col-sm-4">
                                <input type="file" name="ImageFile" accept=".png, .jpg, .jpeg" onchange="loadFile(event)"/>
                            </div>
                            <div class="col-sm-4">
                                <img alt="Preview Image" id="preview-image" src="@Url.Content("~/Content/img/articles/blank.jpg")" class="img-responsive" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.contents)
                            <div class="col-xs-12">
                                @Html.TextAreaFor(model => model.contents)
                                @Html.ValidationMessageFor(model => model.contents, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-left">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        <div class="form-group pull-right">
                            <input type="submit" value="Create" class="btn btn-danger btn-flat" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@section custom_javascript {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinymce.init({
                selector: 'textarea',
                height: 250,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor textcolor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code help wordcount'
                ],
                toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i']
            });
        });
    </script>
    <script>
        // preview image
        var loadFile = function (event) {
            var imageFile = document.getElementById('preview-image');
            imageFile.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
}
