@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<div>
    <h4>article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.published)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.article_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article_category.category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt></dt>
        <dd>
            @if (Model.imageUrl != null)
            {
                <img src="@Url.Content(""+ Model.imageUrl +"")" class="img-responsive" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contents)
        </dt>

        <dd>
            @Html.Raw(Model.contents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
