@model ssembassy_ankara.Models.article

@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Description = "Make necessary changes to the article";
}

<!-- Edit Article -->
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="box box-info">
            <div class="box-header with-border">
                <i class="fa fa-edit"></i>

                <h3 class="box-title">@Model.title</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    @Html.ActionLink("Cancel", "PreviewArticle", "CPanel", new {id = Model.id}, new {@class="btn btn-danger btn-xs btn-flat"})
                </div>
                <!-- /. tools -->
            </div>
            @using (Html.BeginForm())
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="divider"></div>
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.published)

                    <div class="form-group">
                        @Html.LabelFor(model => model.author, new { @class = "control-label" })
                        @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control", placeholder = "Author" } })
                        @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.title, new { @class = "control-label" })
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.category_id, (IEnumerable<SelectListItem>)ViewBag.ArticleCategoryList, "Select article category", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageFile, new { @class = "control-label" })
                        <input type="file" name="ImageFile" accept=".png, .jpeg, .jpg" />
                        @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.contents, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.contents)
                        @Html.ValidationMessageFor(model => model.contents, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Back to List", "Index", "Articles", null, new { @class = "pull-left" })
                    <input type="submit" value="Save" class="btn btn-success btn-flat pull-right" id="sendEmail" />
                </div>
            }
        </div>
    </div>
</div>

@section custom_javascript {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinymce.init({
                selector: 'textarea',
                height: 300,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor textcolor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code help wordcount'
                ],
                toolbar:
                    'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
                ]
            });
        });
    </script>
}
