@model ssembassy_ankara.Models.CitizenContactDetails

@{
    ViewBag.Title = "Contact Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section custom_css
{
    <style>
        #step2 {
            margin-top: 0;
        }
    </style>
}
<div class="card-panel" id="step2">
    <h5>Registration form for South Sudanese Nationals</h5>
    <div class="divider"></div>
    <small class="blue-text">This registration form is strictly for South Sudanese Nationals only.</small>
    <div class="reg-form">
        @using (Html.BeginForm("ContactInfo", "CitizenRegistration", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "red-text" })
            <h6><strong>Step 2: Citizen Contact Details</strong></h6>
            @Html.LabelFor(model => model.TurkeyAddress)<br/>
            @Html.TextAreaFor(model => model.TurkeyAddress, new {@class = "materialize-textarea" })
            @Html.ValidationMessageFor(model => model.TurkeyAddress, "", new { @class = "red-text" })<br/>

            @Html.LabelFor(model => model.TurkeyPhone)<br />
            @Html.TextBoxFor(model => model.TurkeyPhone)
            @Html.ValidationMessageFor(model => model.TurkeyPhone, "", new { @class = "red-text" })<br />

            @Html.LabelFor(model => model.Email)<br />
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "red-text" })<br />

            @Html.LabelFor(model => model.NextOfKinInTurkey)<br />
            @Html.TextBoxFor(model => model.NextOfKinInTurkey)
            @Html.ValidationMessageFor(model => model.NextOfKinInTurkey, "", new { @class = "red-text" })<br />

            @Html.LabelFor(model => model.RelationshipWithNextOfKin)<br />
            @Html.TextBoxFor(model => model.RelationshipWithNextOfKin)
            @Html.ValidationMessageFor(model => model.RelationshipWithNextOfKin, "", new { @class = "red-text" })<br />

            @Html.LabelFor(model => model.NextOfKinContact)<br />
            @Html.TextBoxFor(model => model.NextOfKinContact)
            @Html.ValidationMessageFor(model => model.NextOfKinContact, "", new { @class = "red-text" })<br />

            @Html.LabelFor(model => model.PurposeOfStayId)<br />
            if (ViewBag.PurposeOfVisit != null)
            {
                @Html.DropDownListFor(model => model.PurposeOfStayId, (IEnumerable<SelectListItem>)ViewBag.PurposeOfVisit, "Select purpose of stay",new {@class = "browser-default form-control" })
            }
            else
            {
                <small class="red-text">Dropdownlist failed to load!</small>
            }
            @Html.ValidationMessageFor(model => model.PurposeOfStayId, "", new { @class = "red-text" } )<br />

            @Html.LabelFor(model => model.DurationOfStay)<br />
            @Html.TextBoxFor(model => model.DurationOfStay)
            @Html.ValidationMessageFor(model => model.DurationOfStay, "", new { @class = "red-text" })<br />
            
            <p><span class="red-text">*</span> I declare that the information provided above is accurate and true.</p>
            <div class="divider" style="margin: 10px 0;"></div>
            <input type="submit" name="prevBtn" value="Previous" class="btn btn-default"/>
            <input type="submit" name="nextBtn" value="Submit" class="btn btn-success right" id="nextBtn" />
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        (function($) {
            $('select').formSelect();

            //var selectedValue = $("input[type='radio'][name='IdeclareTruthOfInfo']:checked").val();
            //var finishBtn = $("input[type='submit'][name='nextBtn']");
            //var selectedOption = $("input[type='radio'][name='IdeclareTruthOfInfo']:checked");

            //function revealBtn() {
            //    var selectedValue = selectedOption.val();
            //    if (selectedValue === true) {
            //        finishBtn.removeClass("disabled");
            //    }
            //}
            //selectedOption.click(revealBtn());
        })(jQuery);
    </script>
}
