@model ssembassy_ankara.Models.AboutCitizen

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section custom_css
{
    <style>
        

    </style>
}
<div class="card-panel" style="display: table;">
    <h5 class="center-text"><strong>Registration Form For South Sudanese nationals in Turkey</strong></h5>
        <h6><strong>Step 1: Citizen Basic Details</strong></h6>
    <div class="divider"></div>
    <p class="grey-text lighten-5"><em>This registration form is for South Sudanese Nationals only.</em></p>
        @using (Html.BeginForm("PersonalDetails", "CitizenRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="error-content">
                @*@Html.ValidationSummary("", new {@class = "red-text"})*@
            </div>
            @Html.LabelFor(model => model.FullName)<span class="red-text"> *</span><br/>
            @Html.TextBoxFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName, "", new {@class = "red-text"})<br/>

            @Html.LabelFor(model => model.ImageFile)<span class="red-text"> *</span>
            <br/>
            <input type="file" name="ImageFile" accept=".png, .jpg, .jpeg"/>
            @Html.ValidationMessageFor(model => model.ImageFile, "", new {@class = "red-text"})
            <br/>

            @Html.LabelFor(model => model.BirthDate)<span class="red-text"> *</span><br />
            @Html.TextBoxFor(model => model.BirthDate, new {@class = "datepicker" })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new {@class = "red-text"})<br/>

            @Html.LabelFor(model => model.PassportNumber)<span class="red-text"> *</span><br />
            @Html.TextBoxFor(model => model.PassportNumber)
            @Html.ValidationMessageFor(model => model.PassportNumber, "", new {@class = "red-text"})<br/>

            @Html.LabelFor(model => model.PassportImageFile)<span class="red-text"> *</span>
            <br />
            <input type="file" name="PassportImageFile" accept=".png, .jpg, .jpeg" />
            @Html.ValidationMessageFor(model => model.PassportImageFile, "", new { @class = "red-text" })
            <br />

            @Html.LabelFor(model => model.ExpiryDate)<span class="red-text"> *</span><br />
            @Html.TextBoxFor(model => model.ExpiryDate, new {@class = "datepicker" })
            @Html.ValidationMessageFor(model => model.ExpiryDate, "", new {@class = "red-text"})<br/>

            @Html.LabelFor(model => model.University)<br/>
            @Html.TextBoxFor(model => model.University)
            @Html.ValidationMessageFor(model => model.University, "", new {@class = "red-text"})<br/>

            <input type="submit" name="nextBtn" value="Next" class="btn btn-primary right"/>
        }
</div>

@section scripts
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
            //instances.open();
        });
        options = {
            autoClose: true,
            format: 'dd mmm, yyyy'
        };
    </script>
}
