@using PagedList.Mvc;
@model PagedList.IPagedList<ssembassy_ankara.Models.CitizenViewModel>

@{
    ViewBag.Title = "Registered Nationals";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Description = "A list of all registered South Sudanese in Turkey";
}

<div class="row">
    <!-- staff -->
    <div class="col-sm-10 col-sm-offset-1">
        <!-- STAFF LIST -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@Html.ActionLink("All Registered Citizens", "Registered")</h3>net
                <div class="box-tools pull-right">
                    @using (Html.BeginForm("Registered", "CitizenRegistration", FormMethod.Get, new {@class = "form-inline"}))
                    {
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                    <span class="label label-danger">@ViewBag.CitizenCount Citizens</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    @if (Model.Any())
                    {
                        foreach (var citizen in Model)
                         {
                             <li>
                                 @if (!string.IsNullOrEmpty(citizen.ImageUrl))
                                 {
                                     <img src="@Url.Content(""+ citizen.ImageUrl +"")" style="width: 128px; height: 128px;" alt="citizen image">
                                 }
                                 else
                                 {
                                     <img src="@Url.Content("~/Content/img/muser.png")" alt="User Image">
                                 }
                                 <a class="users-list-name" href="@Url.Action("Details", "CitizenRegistration", new {id = citizen.Id})">@citizen.FullName.ToUpper()</a>
                                 <span class="users-list-date">@citizen.ApplicationDateForDisplay</span>
                                 <span class="users-list-date">@citizen.TurkeyPhone</span>
                             </li>
                         }
                    }
                    else
                    {
                        <li class="text-muted">@ViewBag.SearchResult</li>
                    }
                </ul>
                <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                @*<a href="javascript:void(0)" class="uppercase">View All Users</a>*@
                @Html.PagedListPager(Model, page => Url.Action("Registered", new { page }))
            </div>
            <!-- /.box-footer -->
        </div>
        <!--/.box -->
    </div>
</div>