@model ssembassy_ankara.Models.CitizenRegistration

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/dashboard/print.css" rel="stylesheet" type="text/css" />
    <title>Print User Information</title>
</head>
<body>
<div class="page">
    @Html.Partial("_Header")
    <div class="row">
        <div class="col-xs-9">
            <table class="table table-responsive">
                <thead></thead>
                <tbody>
                <tr>
                    <td>Registration Date</td><td>@Model.ApplicationDate.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>Purpose of Stay</td>
                    <td>@Model.PurposeOfVisit.Purpose</td>
                </tr>
                <tr>
                    <td>Duration of Stay</td><td>@Model.ExpectedDurationOfStay</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-3" id="user-image">
            <img src="@Url.Content(""+ Model.ImageUrl +"")" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th colspan="4">PERSONAL INFORMATION</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>FULL NAME</td><td>@Model.FullName</td><td>BIRTHDATE</td><td>@Model.BirthDate</td>
                </tr>
                <tr>
                    <td>COLLEGE/UNIVERSITY</td><td colspan="3">@Model.University</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th colspan="4">TRAVEL DOCUMENT DETAILS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>PASSPORT NO:</td>
                    <td>@Model.PassportNumber</td>
                    <td>EXPIRY DATE</td>
                    <td>@Model.ExpiryDate</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th colspan="4">CONTACT DETAILS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>PHONE</td>
                    <td>@Model.TurkeyPhone</td>
                    <td>EMAIL</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>ADDRESS</td><td colspan="3">@Model.TurkeyAddress</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th colspan="4">NEXT OF KIN DETAILS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>FULL NAME</td>
                    <td>@Model.NextOfKinInTurkey</td>
                    <td>CONTACT</td>
                    <td>@Model.NextOfKinContact</td>
                </tr>
                <tr>
                    <td colspan="2">RELATIONSHIP WITH NEXT OF KIN</td>
                    <td colspan="2">@Model.RelationshipWithNextOfKin</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    @Html.Partial("_Footer")
</div>
    @if (Model.PassportImage != null)
    {
        <div class="page">
            @Html.Partial("_Header")
            <img src="@Url.Content("" + Model.PassportImage + "")" class="img-responsive" />
            @Html.Partial("_Footer")
        </div>
    }
</body>
</html>
