@model ssembassy_ankara.Models.VisaInfo

@{
    ViewBag.Title = "Edit Visa Information";
    ViewBag.Description = "Make changes to Visa Information page.";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="box box-warning">
    <div class="box-header">
        <div class="box-title">
            <h4><strong>Edit Visa Information</strong></h4>
        </div>
        <div class="box-tools pull-right">
            @Html.ActionLink("Back", "Index", null, new {@class = "btn btn-warning btn-xs"})
        </div>
    </div>
    @using (Html.BeginForm("Edit", "Visa", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    
        <div class="box-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.DateCreated)
            <div class="form-group">
                @Html.LabelFor(model => model.InfoEn, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.InfoEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InfoEn, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.InfoTr, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.InfoTr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InfoTr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="box-footer">
            <a href="@Url.Action("Details", "Visa")" class="btn btn-default">Cancel</a>
            <input type="submit" value="Save" class="btn btn-warning pull-right"/>
        </div>
    }
</div>

@section custom_javascript
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinymce.init({
                selector: 'textarea',
                height: 300,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor textcolor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code help wordcount'
                ],
                toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i']
            });
        });
</script>
}
