@model ssembassy_ankara.Models.NextOfKinDetails
@{
    ViewBag.Title = "Next Of Kin Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            @Html.Partial("_FormHeaderPartial")
            <h6>7. Family Details - Next of Kin Details</h6>
            <div class="vf-form">
                @using (Html.BeginForm("NextOfKinDetails", "OnlineVisaApplication", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "red-text", style = "font-size: 12px;" })

                    @Html.LabelFor(model => model.Surname) <span class="red-text">*</span>
                    @Html.ValidationMessageFor(model => model.Surname, "")
                    @Html.TextBoxFor(model => model.Surname, new { @class = "input-field caps" })

                    @Html.LabelFor(model => model.GivenNames)<span class="red-text">*</span>
                    @Html.ValidationMessageFor(model => model.GivenNames, "")
                    @Html.TextBoxFor(model => model.GivenNames, new { @class = "input-field" })

                    @Html.LabelFor(model => model.Address, "Permanent Address") <span class="red-text">*</span>
                    @Html.ValidationMessageFor(model => model.Address, "")
                    @Html.TextBoxFor(model => model.Address, new { @class = "input-field" })

                    @Html.LabelFor(model => model.Phone, "Phone No:") <span class="red-text">*</span>
                    @Html.ValidationMessageFor(model => model.Phone, "")
                    @Html.TextBoxFor(model => model.Phone, new { @class = "input-field" })

                    @Html.LabelFor(model => model.Mobile, "Mobile No:") <span class="red-text">*</span>
                    @Html.ValidationMessageFor(model => model.Mobile, "")
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "input-field" })

                    @Html.LabelFor(model => model.Email, "Email Address:") <span class="red-text">*</span>
                    @Html.ValidationMessageFor(model => model.Email, "")
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-field email" })

                    <div class="submitBtns">
                        <input type="submit" class="btn btn-primary left" name="prevBtn" value="Previous" />
                        <input type="submit" class="btn btn-primary right" name="nextBtn" value="Next" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function($) {
            var allInputs = $(".vf-form input[type=text]");
            allInputs.attr("required", true);
            allInputs.keyup(function() {
                if ($(this).hasClass("email")) {
                    $(this).val($(this).val().toLowerCase());
                } else {
                    $(this).val($(this).val().toUpperCase());
                }
            });
        })(jQuery);
    </script>
}
