@model ssembassy_ankara.Models.StaffBasicInfoViewModel

@if (Model != null)
{
    <div class="card-panel grey lighten-5 z-depth-0" style="padding: 0;">
        <div class="row valign-wrapper">

            <div class="col s2 m2 l4">
                @if (Model.ImgUrl != null)
                {
                    <img src="@Url.Content("" + Model.ImgUrl + "")" alt="" class="circle responsive-img">
                }
                else
                {
                    <img src="@Url.Content("~/Content/img/muser.png")" alt="" class="circle responsive-img">
                }
            </div>
            <div class="col s10 m9 l8">
                <span class="black-text">
                    @Model.FullName.ToUpper()
                </span><br/>
                <span class="text-gray">
                    @Model.Position
                </span>
                <div class="divider"></div>
                @Html.ActionLink("Ambassador's Message", "Index", "Home")
            </div>

        </div>
    </div>
    <!-- Ambassador's message -->
    if (!string.IsNullOrEmpty(Model.Message))
     {
         <div class="card-panel z-depth-1 grey lighten-5" style="padding: 10px;">
             <h5 style="margin: 0.093333rem 0 0.656rem 0; font-size: 15px; text-transform: uppercase;">Welcome Message</h5>
             <div class="divider"></div>
             <div>
                 @Html.Raw(Model.Message)
             </div>
         </div>
     }
}
