@model ssembassy_ankara.Models.CitizenContactDetails

@using (Html.BeginForm("CitizenContactInfoPartial", "CitizenRegistration", FormMethod.Post))
{
    <h5><strong>Step 2: Citizen Contact Details</strong></h5>
    @Html.LabelFor(model => model.TurkeyAddress)<br/>
    @Html.TextAreaFor(model => model.TurkeyAddress)
    @Html.ValidationMessageFor(model => model.TurkeyAddress)<br/>

    @Html.LabelFor(model => model.TurkeyPhone)<br />
    @Html.TextBoxFor(model => model.TurkeyPhone)
    @Html.ValidationMessageFor(model => model.TurkeyPhone)<br />

    @Html.LabelFor(model => model.Email)<br />
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)<br />

    @Html.LabelFor(model => model.NextOfKinInTurkey)<br />
    @Html.TextBoxFor(model => model.NextOfKinInTurkey)
    @Html.ValidationMessageFor(model => model.NextOfKinInTurkey)<br />

    @Html.LabelFor(model => model.RelationshipWithNextOfKin)<br />
    @Html.TextBoxFor(model => model.RelationshipWithNextOfKin)
    @Html.ValidationMessageFor(model => model.RelationshipWithNextOfKin)<br />

    @Html.LabelFor(model => model.PurposeOfStayId)<br />
    @Html.DropDownListFor(model => model.PurposeOfStayId, (IEnumerable<SelectListItem>) ViewBag.PurposeOfStay, "Select purpose of stay...")
    @Html.ValidationMessageFor(model => model.PurposeOfStayId)<br />

    @Html.LabelFor(model => model.DurationOfStay)<br />
    @Html.TextBoxFor(model => model.DurationOfStay)
    @Html.ValidationMessageFor(model => model.DurationOfStay)<br />

    @Html.LabelFor(model => model.IdeclareTruthOfInfo)<br />
    @Html.RadioButtonFor(model => model.IdeclareTruthOfInfo, 1
        )
    @Html.ValidationMessageFor(model => model.IdeclareTruthOfInfo)<br />
    
    <input type="submit" name="prevBtn" value="Previous" class="btn btn-default"/>
    <input type="submit" name="nextBtn" value="Finish" class="btn btn-success" />
}