<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- bootstrap -->
    @Styles.Render("~/css/dashboard")
    @RenderSection("custom_css", false)
    <title>Dashboard | @ViewBag.Title</title>
</head>
<body class="hold-transition skin-blue">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="@Url.Action("Index", "CPanel")" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>SS</b>EMB</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SS Embassy</b>Ankara</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-home"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">@Html.ActionLink("Main Site", "Index", "Home")</li>
                        </ul>
                    </li>
                    <!-- User Info-->
                    @Html.Action("LoggedInUserPartial", "CPanel")
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            @Html.Action("UserPanelPartial", "CPanel")
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="@Url.Action("Index", "CPanel")">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>Staff</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="@Url.Action("Index", "CPanel")"><i class="fa fa-circle-o"></i> All Staff</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="treeview">
                                <a href="@Url.Action("Index", "CPanel")">
                                    <i class="fa fa-circle-o"></i> <span>Ambassador</span>
                                </a>
                            </li>
                        }
                        <li class="active"><a href="@Url.Action("Index", "CPanel")"><i class="fa fa-circle-o"></i> Former Ambassadors</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index", "Articles")">
                        <i class="fa fa-newspaper-o"></i> <span>News Articles</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("PreviewBusinessInvestments", "BusinessAndInvestments")">
                        <i class="fa fa-money"></i> <span>Business Investments</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Notices", "CPanel")">
                        <i class="fa fa-bullhorn"></i> <span>Announcements</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="@Url.Action("Index", "CPanel")">
                        <i class="fa fa-calendar-o"></i> <span>Events</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-globe"></i> <span>About South Sudan</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="@Url.Action("PreviewHistoryPage", "CPanel")"><i class="fa fa-circle-o"></i> History of S.Sudan</a></li>
                        <li class="active"><a href="@Url.Action("PreviewEducationAndCulture", "CPanel")"><i class="fa fa-circle-o"></i> Education and Culture</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building-o"></i> <span>Consular Services</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="@Url.Action("Index", "CPanel")"><i class="fa fa-circle-o"></i> Visa Applicants</a></li>
                        <li class="active"><a href="@Url.Action("Details", "Visa")"><i class="fa fa-circle-o"></i> Visa Information</a></li>
                        <li class="active"><a href="@Url.Action("Registered", "CitizenRegistration")"><i class="fa fa-circle-o"></i> S.Sudanese in Turkey</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-archive"></i> <span>Archives</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="@Url.Action("Index", "CPanel")"><i class="fa fa-circle-o"></i> Past Events</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "CPanel")"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </section>

        <!-- Main content -->
        <div class="content">
            @RenderBody()
        </div>
    </div>
    
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>By | </b> <a href="#" data-toggle="modal" data-target="#atiol_modal">Atiol Raphael</a>.
            <div class="modal fade" id="atiol_modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">About Atiol</h4>
                        </div>
                        <div class="modal-body">
                            <p>lorem ipsum ....</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                            <a href="http://www.portakalyazilim.com.tr/tr/" target="_blank" class="pull-left">Portakal Yazılım</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <strong>
            Copyright &copy; @DateTime.Now.Year | All rights
            reserved. South Sudan Embassy in Turkey
        </strong>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/dashboardjs")
    @RenderSection("custom_javascript", false)
</body>
</html>
